{% extends "base.html" %}
{% block title %}
    Add a Page
{% endblock title %}

{% block body_block %}
    <h3>Add a Page</h3>
    <form id="page_form" method="POST" action="{% url 'add_page' category_name_slug %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="add_page" value="Add Page">
    </form>
{% endblock body_block %}
