
{% block body_block %}
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">



<form id="login_form" role="form" class="form-signin" method="post" action="/rango/login/">
    <h2 class="form-signin-heading">Please sign in</h2>
    {% csrf_token %}
    <input  class="form-control" type="text" name="username" placeholder="Username" required autofocus=""/>

    <input  class="form-control" type="password" name="password" placeholder="Password"/>

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" >Sign in</button>
</form>
{% endblock %}